body {
    font-family: sans-serif;
    background-color: white;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}
.text-medium {
    font-size: 150%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.content{
  background-color: white;
  margin-left: 60px;
margin-right: 30px;
}

#comment-box{
  border: 1px solid grey;
  padding-left:30px;
  padding-right:30px;

}
#intro-box{
  border: 1px solid grey;
  padding-left:50px;
  padding-right:5px;

}
